name: Sync Leetcode

on:
  workflow_dispatch: # Allows manual run
  schedule:
    - cron: "30 2 * * *" # Runs at 2:30 UTC (8:00 AM India Standard Time)

# Grants permission to write to the repository
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Sync
        uses: joshcai/leetcode-sync@v1.5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          leetcode-csrf-token: ${{ secrets.LEETCODE_CSRF_TOKEN }}
          leetcode-session: ${{ secrets.LEETCODE_SESSION }}
          destination-folder: Leetcode
