name: Sync Leetcode

on:
  workflow_dispatch: # Allows you to run this manually right now
  schedule:
    - cron: "0 8 * * *" # Runs automatically every day at 8:00 AM

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Sync
        uses: joshcai/leetcode-sync@v1.5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          leetcode-csrf-token: ${{ secrets.LEETCODE_CSRF_TOKEN }}
          leetcode-session: ${{ secrets.LEETCODE_SESSION }}
          destination-folder: Leetcode 
          verbose: true
          commit-header: 'Sync LeetCode solution'
